@font-face {
  font-family: 'Monotron';
  src: url('Monoton-Regular.ttf');
}

body {
  font-family: 'Monotron';
}

.container {
  width: 500px;
  margin: 0 auto;
}

.letter {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 10rem;
  color: pink;
}
p {
  font-size: 2rem;
  color: orange;
}

button {
  font-family: 'Lucida Sans';
  font-size: 0.9rem;
  color: white;
  background-color: skyblue;
  border: 3px solid lightgreen;
  border-radius: 5px;
  padding: 20px;
}

button:hover {
  font-family: 'Lucida Sans';
  font-size: 0.9rem;
  background-color: lightgreen;
  border: 3px solid skyblue;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}
